
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1465627150'); /* IE9*/
  src: url('iconfont.eot?t=1465627150#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1465627150') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1465627150') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1465627150#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'IBMS';
  font-style: normal;
  font-weight: normal;
  src: url('gbms.woff') format('woff');
	src: url('gbms.eot');
	src: url('gbms.eot?#iefix') format('embedded-opentype'),
	url('gbms.ttf') format('truetype');
}

[class^="icon-gbms-"]:before,
[class*=" icon-gbms-"]:before {
  font-family: 'IBMS';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  line-height: 1em;
}
.icon-gbms-0:before { content: 'A'; } 
.icon-gbms-1:before { content: 'B'; }
.icon-gbms-2:before { content: 'C'; }
.icon-gbms-3:before { content: 'D'; } 
.icon-gbms-4:before { content: 'E'; } 
.icon-gbms-5:before { content: 'F'; } 
.icon-gbms-6:before { content: 'G'; } 
.icon-gbms-7:before { content: 'H'; }
.icon-gbms-8:before { content: 'I'; } 
.icon-gbms-9:before { content: 'J'; } 
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mic:before { content: "\e627"; }
.icon-record:before { content: "\e629"; }
.icon-tubiao12:before { content: "\e622"; }
.icon-dutoutiao:before { content: "\e600"; }
.icon-kanbagua:before { content: "\e601"; }
.icon-qita:before { content: "\e602"; }
.icon-denglu:before { content: "\e603"; }
.icon-retie2:before { content: "\e604"; }
.icon-wodetuiguang:before { content: "\e626"; }
.icon-store:before { content: "\e62d"; }
.icon-select:before { content: "\e630"; }
.icon-send:before { content: "\e628"; }
.icon-save:before { content: "\e623"; }
.icon-0038cuicu:before { content: "\e62a"; }
.icon-xiangji1:before { content: "\e62b"; }
.icon-shuaxin:before { content: "\e62c"; }
.icon-et-scan:before { content: "\e605"; }
.icon-et-clock:before { content: "\e606"; }
.icon-et-task:before { content: "\e607"; }
.icon-wodeguanzhu:before { content: "\e62e"; }
.icon-temperature:before { content: "\e624"; }
.icon-physics-world:before { content: "\e625"; }
.icon-kejian:before { content: "\e608"; }
.icon-lianjie2:before { content: "\e609"; }
.icon-caidan:before { content: "\e60a"; }
.icon-dingwei:before { content: "\e60b"; }
.icon-fenxiang:before { content: "\e60c"; }
.icon-fenxiang2:before { content: "\e60d"; }
.icon-guanbi:before { content: "\e60e"; }
.icon-lishijilu:before { content: "\e60f"; }
.icon-liebiao2:before { content: "\e610"; }
.icon-liuyan:before { content: "\e611"; }
.icon-shangchuan:before { content: "\e612"; }
.icon-shezhi:before { content: "\e613"; }
.icon-shuaxin1:before { content: "\e614"; }
.icon-sousuo2:before { content: "\e615"; }
.icon-tianjia:before { content: "\e616"; }
.icon-wodehaoyou:before { content: "\e617"; }
.icon-xiazai:before { content: "\e618"; }
.icon-wenxue:before { content: "\e619"; }
.icon-xihuan:before { content: "\e61a"; }
.icon-fanhui:before { content: "\e61b"; }
.icon-chongzhizhongxin:before { content: "\e61c"; }
.icon-gerenzhongxin:before { content: "\e61d"; }
.icon-duihua:before { content: "\e61e"; }
.icon-xiangyou:before { content: "\e61f"; }
.icon-xiangzuo:before { content: "\e620"; }
.icon-xiugaidenglumima:before { content: "\e621"; }
.icon-detailsmore:before { content: "\e62f"; }
