html {
	overflow: hidden;
	height:100%;
}
body {
	width: 100%;
	height: 100%;
	font-family: Arial,Tahoma,Î¢ÈíÑÅºÚ;
	font-size: 12px;
	overflow: hidden;
}

#startingCover {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../images/tiles/random_grey_variations.png);
}

#startingLogo {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -80px 0 0 -62px;
	width: 124px;
	height: 124px;
	background: url(../images/waiting.gif);
}

#startingText {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 55px 0 0 -80px;
	width: 160px;
	height: 50px;
	font-family: Arial,Tahoma,Î¢ÈíÑÅºÚ;
	font-size: 13.5px;
	color: white;
	text-shadow: #666 1px 1px 2px;
	text-align: center;
	cursor: default;
}

#startingVer{
	position: absolute;
	left: 50%;
	top: 100%;
	margin: -25px 0 0 -100px;
	width: 200px;
	height: 25px;
	font-family: Arial,Tahoma,Î¢ÈíÑÅºÚ;
	font-size: 10.5px;
	color: #ffffff;
	opacity: 0.75;
	text-shadow: #666 1px 1px 2px;
	text-align: center;
	cursor: default;
}

#mainFrame{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #fafafa;
	padding: 12px;
	display: none;
}


.profile-sidebar-portlet {
  padding: 30px 0 0 0 !important; }

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;}

.profile-usertitle {
  text-align: center;
  margin-top: 20px; }

.profile-usertitle-name {
  color: #5a7391;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px; }

.profile-usertitle-job {
  color: #5b9bd1;
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 7px; }

.profile-usertitle-info{
  margin: 0 auto;
  text-align: left;
  color: #5a7391;
  font-size: 13px;
  width: 180px;
  line-height: 22px; }

.profile-userbuttons {
  text-align: center;
  margin-top: 10px; }

.profile-userbuttons .btn {
  margin-right: 5px; }
  .profile-userbuttons .btn:last-child {
    margin-right: 0; }

.profile-userbuttons button {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px; }

.profile-usermenu {
  margin-top: 30px;
  padding-bottom: 20px; }

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7; }

.profile-usermenu ul li:last-child {
  border-bottom: none; }

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 16px;
  font-weight: 400; }

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 16px; }

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1; }

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px; }

.profile-stat {
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f4f7; }

.profile-stat-title {
  color: #7f90a4;
  font-size: 25px;
  text-align: center; }

.profile-stat-text {
  color: #5b9bd1;
  font-size: 11px;
  font-weight: 800;
  text-align: center; }

.profile-desc-title {
  color: #7f90a4;
  font-size: 17px;
  font-weight: 600; }

.profile-desc-text {
  color: #7e8c9e;
  font-size: 14px; }

.profile-desc-link i {
  width: 22px;
  font-size: 19px;
  color: #abb6c4;
  margin-right: 5px; }

.profile-desc-link a {
  font-size: 14px;
  font-weight: 600;
  color: #5b9bd1; }

/* END PROFILE SIDEBAR */
/* RESPONSIVE MODE */
@media (max-width: 991px) {
  /* 991px */
  /* 991px */
  .profile-sidebar {
    float: none;
    width: 100% !important;
    margin: 0; }
  .profile-sidebar > .portlet {
    margin-bottom: 20px; }
  .profile-content {
    overflow: visible; } }

.edit-proxy{
	display: none;
}