html {
	overflow: hidden;
	height:100%;
}
body {
	width: 100%;
	height: 100%;
	font-family: Arial,Tahoma,Î¢ÈíÑÅºÚ;
	font-size: 12px;
	overflow: hidden;
}

#startingCover {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../images/tiles/random_grey_variations.png);
}

#startingLogo {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -80px 0 0 -62px;
	width: 124px;
	height: 124px;
	background: url(../images/waiting.gif);
}

#startingText {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 55px 0 0 -80px;
	width: 160px;
	height: 50px;
	font-family: Arial,Tahoma,Î¢ÈíÑÅºÚ;
	font-size: 13.5px;
	color: white;
	text-shadow: #666 1px 1px 2px;
	text-align: center;
	cursor: default;
}

#startingVer{
	position: absolute;
	left: 50%;
	top: 100%;
	margin: -25px 0 0 -100px;
	width: 200px;
	height: 25px;
	font-family: Arial,Tahoma,Î¢ÈíÑÅºÚ;
	font-size: 10.5px;
	color: #ffffff;
	opacity: 0.75;
	text-shadow: #666 1px 1px 2px;
	text-align: center;
	cursor: default;
}

#mainFrame{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #fafafa;
	padding: 12px;
	display: none;
}

#TreeTool{
	border-top: 1px solid #eef1f5;
    padding: 10px 0 0 0;
    font-size: 14px;
}

.dropdown-menu {
    min-width: 100px;
}

.pointer {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 10px;
    height: 10px;
    background: #ff0000;
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	display: none;
}


.header {
  background-color: #215;
  background-image: linear-gradient(to bottom, rgba(119, 17, 85, 0.5), transparent);
  min-height: 25%;
  padding: 65px;
	color: #fff;
	text-align: center;
	font-size: 10.5pt;
}

.content {
  min-height:300px;
  padding: 2rem;
  margin: 0 auto;
  max-width: 900px;
	font-size: 10.5pt;
	line-height: 24px;
}

.canvas-wrap {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

canvas {
  display: block;
}

.appdesc{
	  display: none;
	}

@media (min-width: 1280px){
	.appdesc{
	  display: block;
	}
}

.fa-item {
    font-size: 9px;
    padding: 2px 0 0 0;
    text-align: center;
}

.fa-item i{
	color: #ccc;
    font-size: 12px;
}

.fa-item.active i{
	color: #FF5722;
	font-size: 20px;
}

#faceList ul{
	display: inline-block;
	padding: 0;
	margin: 0;
}

#faceList li{
	position: relative;
	display: inline-block;
	height:150px;
	padding: 0;
	margin: 0 10px 35px 0;
}

#faceList{
	overflow: auto;
}

#faceList .addUserFace{
	cursor: pointer;
}

#faceList .mdyUserFace{
    background: #2bb4c0;
    color: white;
    text-align: center;
    font-size: 12pt;
	cursor: pointer;
}

#faceList .mdyUserFace:hover{
    background: #FF9800;
}

#faceList .delUserFace{
    position: absolute;
    top: 0;
    right: 0;
    color: #ddd;
	cursor: pointer;
}

#faceList .delUserFace:hover{
    color: #fff;
}

#playVideo{
	position: relative;
	width: 100%;
	height: 400px; 
	background: #000;
	overflow: hidden;
	display:table;    
}

#playVideo .wrapper{
            text-align:center;
            display:table-cell;
            vertical-align:middle;
        }

#playVideo .tools{
	position: absolute;
    right: 10px;
    top: 50%;
    width: 30px;
    height: 140px;
    font-size: 18px;
    color: #fff;
    margin-top: -70px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px 0;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    border-radius: 5px!important;
}

#playVideo1{
	position: relative;
	width: 100%;
	height: 400px; 
	border-right: 2px solid #333;
	background: #000;
	overflow: hidden;
	display:table;    
}

#playVideo1 .wrapper{
            text-align:center;
            display:table-cell;
            vertical-align:middle;
        }

#playVideo1 .tools{
	position: absolute;
    right: 10px;
    top: 50%;
    width: 30px;
    height: 140px;
    font-size: 18px;
    color: #fff;
    margin-top: -70px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px 0;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    border-radius: 5px!important;
}
		
#playVideo2{
	position: relative;
	width: 100%;
	height: 400px; 
	border: 0px solid #333;
	background: #000;
	overflow: hidden;
	display:table;    
}

#playVideo2 .wrapper{
            text-align:center;
            display:table-cell;
            vertical-align:middle;
        }

#playVideo2 .tools{
	position: absolute;
    right: 10px;
    top: 50%;
    width: 30px;
    height: 140px;
    font-size: 18px;
    color: #fff;
    margin-top: -70px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px 0;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    border-radius: 5px!important;
}


#playVideo3{
	position: relative;
	width: 100%;
	height: 400px; 
	border-top: 2px solid #333;
	border-right: 2px solid #333;
	background: #000;
	overflow: hidden;
	display:table;    
}

#playVideo3 .wrapper{
            text-align:center;
            display:table-cell;
            vertical-align:middle;
        }

#playVideo3 .tools{
	position: absolute;
    right: 10px;
    top: 50%;
    width: 30px;
    height: 140px;
    font-size: 18px;
    color: #fff;
    margin-top: -70px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px 0;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    border-radius: 5px!important;
}

#playVideo4{
	position: relative;
	width: 100%;
	height: 400px; 
	border-top: 2px solid #333;
	background: #000;
	overflow: hidden;
	display:table;    
}

#playVideo4 .wrapper{
            text-align:center;
            display:table-cell;
            vertical-align:middle;
        }

#playVideo4 .tools{
	position: absolute;
    right: 10px;
    top: 50%;
    width: 30px;
    height: 140px;
    font-size: 18px;
    color: #fff;
    margin-top: -70px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px 0;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    border-radius: 5px!important;
}

.wrapper .lable{
	color: #fff;
	font-size: 14pt;
}

.tools .iconfont{
	font-size:16pt;    
	cursor: pointer;
}