body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
.weui_title_bar {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12pt;
    text-align: center;
    padding: 0px;
    height: 43px;
    line-height: 44px;
	color:#333;
	background: -webkit-linear-gradient(#ffffff, #fdfdfd);
    background: -o-linear-gradient(#ffffff, #fdfdfd);
    background: -moz-linear-gradient(#ffffff, #fdfdfd);
    background: linear-gradient(#ffffff, #fdfdfd);
    border-bottom: 1px solid #dcdbdb;
    display: none;
    z-index: 2;
}
.weui_title_bar .back {
    color: #666;
    float: left;
    line-height: 44px;
    padding: 0 10px;
}
.weui_tab_body {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: auto;
}
.weui_title_bar .btn{
	color: #009688;
    float: right;
    line-height: 40px;
    padding: 0 10px 2px 10px;
}

.weui_title_bar .btn i{
	font-size: 16.5pt;
}

.weui_cells_access .vsuggest
{
	border: 1px solid #ccc;
    padding: 1px 5px;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.weui_cells_access .vsuggest.active{
	border: 1px solid #ff6600;
   	color:#ff6600;
}

.weui_cells_access .vscreen
{
	border: 1px solid #ccc;
    padding: 1px 5px;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.weui_cells_access .vscreen.active{
	border: 1px solid #ff6600;
	color:#ff6600;
}

.weui_tab_main {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    bottom: 0;
    background: #f7f7fa;
    z-index: 3;
    overflow: hidden;
    display: none;
}
.weui_tab_main .subtitle_bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 43px;
    padding: 0;
    background: -webkit-linear-gradient(#fff,#fdfdfd);
    background: -o-linear-gradient(#fff,#fdfdfd);
    background: -moz-linear-gradient(#fff,#fdfdfd);
    background: linear-gradient(#fff,#fdfdfd);
    border-bottom: 1px solid #dcdbdb;
    text-align: center;
    font-size: 12pt;
}
.weui_tab_main .subtitle_body {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    -webkit-overflow-scrolling: touch;
}
.weui_tab_main .subtitle_body .article-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fcfcfc;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.weui_tab_main .subtitle_bar .left {
    color: #666;
    float: left;
    line-height: 44px;
    padding: 0 10px;
}
.weui_tab_main .subtitle_bar .title {
    color: #666;
    font-size: 12pt;
    line-height: 44px;
}
.weui_tab_main .subtitle_bar .save {
    color: #009688;
    float: right;
    line-height: 44px;
    padding: 0 10px;
}

table{
    width: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-overflow-scrolling: touch;
}

.NodeAction{
	border: 1px solid #fafafa;
    width: 100%;
    padding: 5px 10px;
	margin: 10px 0;
    text-align: center;
    box-sizing: border-box;
	cursor: pointer;
}

.NodeAction:hover{
	background:rgba(96, 125, 139, 0.25);
}
.map-tipinfo {
    color:rgb(0, 0, 0);
}

.psv-panel {
    width:100%;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
}
.psv-panel-content{
     -webkit-overflow-scrolling: touch;
}
.psv-panel-close-button{
    left:0px;
    z-index:90;
}
.weui_panel_ft:before{
    border-top:0px;
}