body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    background-color: #fff;
	display:none;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    border: 1px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    background-color: #ccc;
}

::-webkit-scrollbar-corner {
    background-color:#bbb;
}

.weui_title_bar {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12pt;
    text-align: center;
    padding: 0px;
    height: 43px;
    line-height: 44px;
	color:#333;
	background: -webkit-linear-gradient(#ffffff, #fdfdfd);
    background: -o-linear-gradient(#ffffff, #fdfdfd);
    background: -moz-linear-gradient(#ffffff, #fdfdfd);
    background: linear-gradient(#ffffff, #fdfdfd);
    border-bottom: 1px solid #dcdbdb;
    z-index: 2;
}


.weui_title_bar .back{
	color:#666;
	float:left;
    line-height: 44px;
	padding: 0 10px;
}


.weui_title_bar .btn{
	color: #009688;
    float: right;
    line-height: 40px;
    padding: 0 10px 2px 10px;
}

.weui_title_bar .btn i{
	font-size: 16.5pt;
}

.weui_tab_body {
	position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: hidden;
}

.weui_tab_body.blur{
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.weui_tab_body .content{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.weui_tab_main{
	position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
    bottom: 0px;
	background: #f7f7fa;
	z-index: 3;
    overflow: hidden;
    display: none;
}

.weui_tab_main .subtitle_bar{
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 43px;
    padding: 0px;
	background: -webkit-linear-gradient(#ffffff, #fdfdfd);
    background: -o-linear-gradient(#ffffff, #fdfdfd);
    background: -moz-linear-gradient(#ffffff, #fdfdfd);
    background: linear-gradient(#ffffff, #fdfdfd);
    border-bottom: 1px solid #dcdbdb;
    text-align: center;
	font-size: 12pt;
}

.weui_tab_main .subtitle_bar .back{
	color:#666;
	float:left;
    line-height: 44px;
	padding: 0 10px;
}

.weui_tab_main .subtitle_bar .title{
	color:#666;
	font-size: 12pt;
    line-height: 44px;
}


.weui_tab_main .subtitle_bar .ok{
	color:#009688;
	float:right;
    line-height: 44px;
    padding: 0 10px;
}

.weui_tab_main .subtitle_bar .ok i{
    font-size: 18pt;
}

.weui_tab_main .subtitle_bar .badge:empty {
    display: none;
}

.weui_tab_main .subtitle_bar .badge{
	position: relative;
    top: -10px;
    left: -5px;
    color: #fff;
    font-size: 9px;
    padding: 0px 4px;
    text-align: center;
    background: rgba(244,67,54,0.7);
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.weui_tab_main .subtitle_body{
	position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0px;
	z-index: 3;
    -webkit-overflow-scrolling: touch;
}

.weui_tab_main .subtitle_body .content{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fcfcfc;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.weui_tab_main .subtitle_body .weui_article .title{
	font-size: 16pt;
    font-weight: bold;
    color: #000;
}

.weui_tab_main .subtitle_body .weui_article .time{
    color: #ccc;
}

.weui_panel_access .from{
	color:#333;
    font-size: 13pt;
}

.weui_panel_access .badge-danger:empty {
    display: none;
}

.weui_panel_access .badge-danger{
	color: #fff;
	font-size: 12px;
    padding: 0 6px;
    text-align: center;
    background: rgba(244,67,54,0.7);
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.weui_panel_access .number{
	float: right;
    color: #888;
    font-size: 12px;
    padding: 2px 7px;
    line-height: 16px;
    border: 1px solid #ccc;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    cursor: pointer;
}

.weui_panel_access .time{
	float: right;
}

.weui_search_bar{
	padding: 0 5px 0px 0px;
	background: -webkit-linear-gradient(#fcfcfc,#efeff4); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#fcfcfc,#efeff4); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#fcfcfc,#efeff4); /* Firefox 3.6 - 15 */
	background: linear-gradient(#fcfcfc,#efeff4); /* 标准的语法 */
}

.weui_search_bar.mb{
	background: -webkit-linear-gradient(#ffffff, #fdfdfd);
    background: -o-linear-gradient(#ffffff, #fdfdfd);
    background: -moz-linear-gradient(#ffffff, #fdfdfd);
    background: linear-gradient(#ffffff, #fdfdfd);
}

.weui_search_bar .title{
	width: 100%;
    height: 43px;
    line-height: 44px;
    text-align: center;
	color: #666;
}

.weui_search_bar .btn{
	width: 40px;
    height: 44px;
    line-height: 42px;
    text-align: center;
	color: #009688;
	cursor: pointer;
}

.weui_search_bar .btn i{
    font-size: 16.5pt;
}

.weui_search_outer{
	margin: 8px 0 8px 8px;
}


.weui_search_cancel {
    line-height: 44px;
}

.weui_tabbar {
   height: 50px;
}

.weui_tabbar_icon i{
    font-size: 18pt;
}

.weui_tabbar_icon {
	color: #737383;
	height: 20px;
	margin-top: 2px;
}

.weui_tabbar_label {
	padding: 3px 0 0 0;
	color: #737383;
}


.weui_tabbar_item{
	padding: 0;
}

.weui_tabbar_item.weui_bar_item_on .weui_tabbar_icon {
	color: #05a972;
}

.weui_tabbar_item.weui_bar_item_on .weui_tabbar_label {
	color: #05a972;
}

.weui_media_box .msgbtn{
	position: absolute;
    top: 0;
    right: -120px;
    width: 120px;
    height: 100%;
}

.weui_media_box .share{
	position: absolute;
    top: 0;
    right: 60px;
    width: 60px;
    height: 100%;
    color: #fff;
    font-size: 12pt;
    background: #05a972;
    text-align: center;
}

.weui_media_box .share .lable{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 24px;
    padding: 0;
    text-align: center;
    margin: -12px 0 0 -20px;
}

.weui_media_box .reply{
	position: absolute;
    top: 0;
    right: 60px;
    width: 60px;
    height: 100%;
    color: #fff;
    font-size: 12pt;
    background: #2196F3;
    text-align: center;
}

.weui_media_box .reply .lable{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 24px;
    padding: 0;
    text-align: center;
    margin: -12px 0 0 -20px;
}


.weui_media_box .cancel{
	position: absolute;
    top: 0;
    right: 60px;
    width: 60px;
    height: 100%;
    color: #fff;
    font-size: 12pt;
    background: #cc66cc;
    text-align: center;
}

.weui_media_box .cancel .lable{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 24px;
    padding: 0;
    text-align: center;
    margin: -12px 0 0 -20px;
}


.weui_media_box .remove{
	position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    color: #fff;
    font-size: 12pt;
    background: #ff3300;
    text-align: center;
}

.weui_media_box .remove .lable{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 24px;
    padding: 0;
    text-align: center;
    margin: -12px 0 0 -20px;
}

.weui_grid .weui_grid_select{
	position: absolute;
    top: 5px;
    right: 10px;
	color:#ccc;
}

.weui_grid.on .weui_grid_select{
	color:#ff6600;
}

.weui_cells_access .callendar_delete
{
	border: 1px solid #ccc;
    padding: 1px 5px;
	border-radius: 12px;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
	float: right;    
	margin: 0 5px;
}

.weui_cells_access .callendar_edit
{
	border: 1px solid #ccc;
    padding: 1px 5px;
	border-radius: 12px;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
	float: right;  
	margin: 0 5px;
}

.weui_media_box .lt{
	position: absolute;
    top: 0px;
    left: 0px;
	width:40%;
    height: 60px;
    padding: 20px 0 0 15px;
    line-height: 30px;
}

.weui_media_box .rt1{
	position: absolute;
    top: 0px;
    left: 40%;
	width:30%;
	height:100px;
    padding: 10px;   
	font-size: 54pt;
    line-height: 40px;    
	text-align: right;
}

.weui_media_box .rt2{
	position: absolute;
    top: 0px;
    left: 70%;
	width:30%;
    height: 60px;
    padding: 20px 0;
    font-size: 20pt;
    line-height: 32px;
    text-align: center;
}

.weui_media_box .rt2 p{
    font-size: 12pt;
}

.article-list .title{
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	height: 60px;
	text-align: center;
    font-size: 18pt;
    padding: 0px 15px 0px 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.article-list .note{
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0px;
    padding: 0px 15px 0px 35px;
	text-align: left;
	overflow: auto;
	word-break:break-all; 
    -webkit-overflow-scrolling: touch;
}

.daylist{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.weekbar{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    color: #aaa;
    font-size: 9pt;
	background: #fff;
    border-bottom: 1px solid #e5e5e5;
    display: table-cell;
    z-index: 1;
}

.weekDay{
	position: relative;
    width: 14.285%;
    height: 80px;
    padding: 5px 0;    
	text-align: center;
    display: inline-block;
}

.dayNum{
    color: #888;
	font-size: 10.5pt;
}

.dateNum{
	position: relative;
    left: 50%;
    color: #fff;
    font-size: 24px;
    color: #333;
    background: #FFF;
    width: 38px;
    height: 38px;
    margin: 5px -19px;
    text-align: center;
    line-height: 38px;
    border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

.dateNum.active{
    color: #fff;
    background: #FF9800;
}



.article-list .title{
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	height: 60px;
	text-align: center;
    font-size: 16pt;
    padding: 0px 15px 0px 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.article-list .note{
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0px;
    padding: 0px 15px 0px 35px;
	text-align: left;
	overflow: auto;
	word-break:break-all; 
    -webkit-overflow-scrolling: touch;
}

.article-list.write-pad:after {
    display: block;
    content: '';
    position: absolute;
    left: 25px;
    top: 0;
    bottom: 0;
    background: #f9d4d1;
    width: 1px;
}
